div.content {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #aaa;
}

div.content button,
div.content select,
div.content input {
  padding: 5px 10px;
  border: #aaa 3px solid;
  background-color: #000;
  color: #aaa;
}

div.content button:disabled,
div.content input:disabled,
div.content select:disabled {
  opacity: 0.5;
}

div.content select {
  min-width: 150px;
}

div.content button:hover {
  color: #fff;
  border: #fff 3px solid;
}

div.content > div {
  position: absolute;
  background-color: #000;
  border: #aaa 3px solid;
}

div.content > div * {
  font-family: "Source Code Pro", monospace;
}

div.content > div *:not(h1, h2, h3, h4, h5) {
  font-size: 15px;
}

div.content div.topbar {
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: 80px;
  padding: 25px 30px;
  box-sizing: border-box;
}

div.content div.topbar * {
  margin: 0;
}

div.content div.topbar div.right {
  position: absolute;
  right: 30px;
  top: 20px;
}

div.content div.sidebar {
  top: 90px;
  left: 5px;
  width: calc(300px);
  height: calc(100% - 95px);
  padding: 20px;
  box-sizing: border-box;
}

div.content div.page {
  top: 90px;
  left: 310px;
  width: calc(100% - 315px);
  height: calc(100% - 95px);
  box-sizing: border-box;
  padding: 20px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

div.content > div * {
  margin: 0;
}

div.content > div p {
  margin: 10px 0;
}

div.content > div button.selectoption {
  width: 400px;
  padding: 20px;
  border: #aaa 3px solid;
  text-align: left;
  display: block;
  margin-bottom: 5px;
  background-color: #000;
  color: #aaa;
  position: relative;
}

div.content > div button.selectoption:hover {
  color: #fff;
  border: #fff 3px solid;
}

div.content > div button.selectoption::after {
  content: ">";
  position: absolute;
  top: 20px;
  right: 20px;
}

div.noadminpanel {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: #000;
  color: #aaa;
  box-sizing: border-box;
  padding: 20px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 25px;
  height: 25px;
  border: 3px solid #aaa;
  border-radius: 0;

  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-bottom: 5px;
}

input[type="checkbox"]:checked::before {
  content: "x";
  line-height: 0;
  height: 5px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

input[type="checkbox"]:disabled {
  opacity: 0.5;
}

input[type="checkbox"] + label {
  padding-left:10px;
  vertical-align: middle;
}